// Toggle between having pane frames around the panes
pane_frames false

scroll_buffer_size 1000000

themes {
    my_github_dark {
        fg "#F2F2F2"
        bg "#101216"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#101216"
        red "#f7768e"
        green "#cea5fb"
        yellow "#e0af68"
        blue "#7aa2f7"
        magenta "#B6BEF9"
        cyan "#7dcfff"
        white "#a9b1d6"
        orange "#ff9e64"
    }
}

// Set the theme
theme "my_github_dark"

session_serialization false

keybinds {
    shared_except "move" "locked" {
        unbind "Ctrl h"
        bind "Ctrl m" { SwitchToMode "Move"; }
    }
    shared_among "normal" "locked" {
        unbind "Alt f"
        bind "Alt F" { ToggleFloatingPanes; }
    }
    shared_except "locked" {
        bind "Super k" { Clear; }
        bind "Super t" { NewTab; }
        bind "Super w" { CloseTab; }
        bind "Shift Alt h" { MoveTab "Left"; }
        bind "Shift Alt l" { MoveTab "Right"; }
        bind "Alt h" { GoToPreviousTab; }
        bind "Alt l" { GoToNextTab; }
        bind "Super Alt h" { MoveFocus "Left"; }
        bind "Super Alt j" { MoveFocus "Down"; }
        bind "Super Alt k" { MoveFocus "Up"; }
        bind "Super Alt l" { MoveFocus "Right"; }
        bind "Super 1" { GoToTab 1; }
        bind "Super 2" { GoToTab 2; }
        bind "Super 3" { GoToTab 3; }
        bind "Super 4" { GoToTab 4; }
        bind "Super 5" { GoToTab 5; }
        bind "Super 6" { GoToTab 6; }
        bind "Super 7" { GoToTab 7; }
        bind "Super 8" { GoToTab 8; }
        bind "Super 9" { GoToTab 9; }
    }
    shared_except "locked" {
        unbind "Ctrl q"
        bind "Ctrl ∑" { Quit; }
    }
}